.content {
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: 500;
  .stage-level {
    display: flex;
    background-image: url(../../assets/img/png/5.png);
    background-repeat: no-repeat;
    background-size: 100% 32px;
    .stage-item {
      height: 32px;
      line-height: 32px;
      color:#ffffff;
    }
    .stage-start {
      width: 22.39%;
      .stage-start-text {
        position: relative;
        left: 29.89%;
      }
    }
    .stage-progress {
      width: 58.85%;
      .stage-progress-text {
        position: relative;
        left: 43.48%;
      }
    }
    .stage-end {
      width: 18.76%;
      .stage-end-text {
        position: relative;
        left: 33.31%;
      }
    }
  }
  .behavior {
    margin-top: 12px;
    display: flex;
    .behavior-title {
      height: 40px;
      line-height: 40px;
      border-radius: 6px;
      text-align: center;
      &.behavior-start-title {
        color: #7062f2;
        font-weight: 500;
        background: rgba(112, 98, 242, 0.2);
      }
      &.behavior-progress-title {
        color: #2f77ff;
        background: rgba(47, 119, 255, 0.2);
      }
      &.behavior-end-title {
        color: #5ac4e3;
        background: rgba(90, 196, 227, 0.2);
      }
    }
    .behavior-start {
      width: 19.15%;
    }
    .behavior-progress {
      width: 61.7%;
      padding:0 12px;
    }
    .behavior-end {
      width: 19.15%;
    }
    .behavior-content {
      margin-top: 12px;
      &.behavior-end-content {
        height: 288px;
        background-image: url(../../assets/img/png/4.png);
        background-repeat: no-repeat;
        background-size: 100% 288px;
        .behavior-end-text {
          position: relative;
          text-align: center;
          &.text-job {
            top: 90px;
          }
          &.text-school {
            top: 113px;
          }
          &.text-abroad {
            top: 135px;
          }
        }
      }
      &.behavior-progress-content {
        position: relative;
        .progress-bgs {
          // padding: 0 8.57%;
          .progress-orbit {
            height: 300px;
            background-image: url(../../assets/img/png/3.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }
        .parent-node {
          position: absolute;
          background-image: url(../../assets/img/png/2.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          filter: opacity(50%);
        }
        .parent-node-text {
          position: absolute;
          font-family: PingFang SC;
          font-weight: 500;
          font-size: 28px;
          text-align: center;
          color: #0f192f;
          .parent-node-text-bottom {
            font-size: 12px;
          }
        }
        .student-status {
          position: absolute;
          .student-status-bg {
            background-image: url(../../assets/img/png/10.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
        .info-title {
          text-align: center;
          height: 22px;
          line-height: 22px;
          color: #252f47;
        }
        .info-item {
          color: #252f47;
          font-size: 12px;
          line-height: 18px;
          margin-top: 2px;
          .blue-dot {
            position: relative;
            top: -2px;
            margin-right: 2px;
            display: inline-block;
            padding: 2px;
            width: 0;
            height: 0;
            border-radius: 50%;
            background:#3d5afa;
          }
        }
      }
    }
  }
}